<div class="container">

    <div id="mainQuiz" style="display: none;" data-bind="visible: true">

        <h1>Manchester United Trivia <!--span data-bind="text: selectedIndex"></span--></h1>

        <div class="col-md-1">
            <button class="btn btn-block btn-default" data-bind="click: previous, disable: selectedIndex() <= 0">Prev</button>
        </div>

        <div class="col-md-10">
            <div class="well">

                <h2 data-bind="text: title"></h2>

                <!-- ko if: selectedIndex() < questionArray().length -->
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">

                        <div class="col-md-5">
                            <div class="list-group" data-bind="foreach: questionArray()[selectedIndex()].options">
                                <button type="button" class="list-group-item" data-bind="text: $data, 
                                                                                        click: function(){$parent.questionArray()[$parent.selectedIndex()].addToSelectedAnswers($data)},
                                                                                        disable: $parent.questionArray()[$parent.selectedIndex()].showAnswers(),
                                                                                        css: {correct: $parent.questionArray()[$parent.selectedIndex()].isCorrect($data) &&
                                                                                                        !$parent.questionArray()[$parent.selectedIndex()].isSelected($data)}"></button>
                            </div>
                        </div>

                        <div class="col-md-1">
                        </div>

                        <div class="col-md-5">
                            <div class="list-group" data-bind="foreach: questionArray()[selectedIndex()].selectedOptions">
                                <button type="button" class="list-group-item" data-bind="text: $data, 
                                                                                        click: function(){$parent.questionArray()[$parent.selectedIndex()].removeFromSelectedAnswers($data)}, 
                                                                                        css: {correct: $parent.questionArray()[$parent.selectedIndex()].isCorrect($data),
                                                                                                wrong: $parent.questionArray()[$parent.selectedIndex()].isFalse($data)},
                                                                                        disable: $parent.questionArray()[$parent.selectedIndex()].showAnswers()""></button>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-8" data-bind="visible: questionArray()[selectedIndex()].showAnswers">
                            <h3>Score: <span data-bind="text: questionArray()[selectedIndex()].score"></span></h3>
                        </div>
                        <div class="col-md-1 col-md-offset-10" data-bind="visible: questionArray()[selectedIndex()].showAnswers() === false">
                            <button id="submit" class="btn btn-success" data-bind="click: questionArray()[selectedIndex()].getScore">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: selectedIndex() >= questionArray().length -->
                <div class="row">
                    <div class="col-md-5">
                        <h1>Score <span data-bind="text: totalScore"></span></h1>
                    </div>
                    <div class="col-md-5">
                        <form id="newScoreForm" data-bind="submit: addScore">
                            <div class="form-group">
                                <label class="control-label" for="Name">Name</label>
                                <input id="Name" class="form-control" name="Name" type="text" />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <h4>You're answers...</h4>
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div data-bind="foreach: {data : questionArray(), as : 'item'}">
                            <!-- ko if: showAnswers -->
                            <div class="col-md-5">
                                <h4 data-bind="text: item.name"></h4>
                                <h3 data-bind="text: item.score"></h3>
                                <div class="list-group" data-bind="foreach: {data: selectedOptions, as : 'columns'}">
                                    <button type="button" class="list-group-item" data-bind="text: columns"></button>
                                </div>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>

        <div class="col-md-1">
            <button class="btn btn-block btn-info" data-bind="click: next, disable: selectedIndex() >= questionArray().length">Next</button>
        </div>

        <!--div id="debug">
            <hr />
            <h2>Debug</h2>
            <div data-bind="text: ko.toJSON($data)"></div>
        </div-->

    </div>

    <div id="addNewQuestion" class="col-md-4 col-md-offset-1"  style="display: none;" data-bind="visible: true">
        <div class="row">
            <button class="btn btn-default" data-bind="click: toggleForm">Add New Question</button>
        </div>
        <br />
        <div data-bind="visible: showForm">
            <!-- ko if: title().length > 0 || newOptions().length > 0 || newAnswers().length > 0 -->
            <div class="row">
                <div class="well">
                    <h2 data-bind="text: title"></h2>

                    <div class="list-group" data-bind="foreach: newOptions">
                        <button type="button" class="list-group-item" data-bind="text: $data"></button>
                    </div>

                    <div class="list-group" data-bind="foreach: newAnswers">
                        <button type="button" class="list-group-item" data-bind="text: $data"></button>
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <form id="newColumnForm" data-bind="submit: submit">
                <div class="form-group">
                    <label class="control-label" for="Name">Title</label>
                    <input id="Name" data-bind="textInput: title" class="form-control" name="Name" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label" for="NewOption">New Option</label>
                    <input id="NewOption" data-bind="textInput: newOption" class="form-control" name="NewOption" type="text" />
                    <button class="btn btn-default" data-bind="click: addOption">Add New</button>
                </div>
                <div class="form-group">
                    <label class="control-label" for="NewAnswer">New Answer * Make sure answer is in option list *</label>
                    <input id="NewAnswer" data-bind="textInput: newAnswer" class="form-control" name="NewAnswer" type="text" />
                    <button class="btn btn-default" data-bind="click: addAnswer">Add New</button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/dist/quiz.js"></script>
}